In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
response = requests.get('https://btech-data-analytics.github.io/bridgerland-technical-college/employees_3.html').text

In [5]:
soup = BeautifulSoup(response, 'html.parser')

In [25]:
ID = []
name = []
age = []

for employee in soup.find('table').find_all('tr', class_='employee'):
        ID.append(employee.find_all('td')[0].text)
        name.append(employee.find_all('td')[1].text)
        age.append(employee.find_all('td')[2].text)

In [22]:
ID

['101', '102', '103', '104', '105', '106', '107', '108']

In [26]:
name

['John Doe',
 'Jane Smith',
 'Robert Johnson',
 'Mary Johnson',
 'Michael Brown',
 'Susan Davis',
 'David Wilson',
 'Linda Miller']

In [23]:
age

['28', '32', '24', '29', '35', '27', '31', '33']

In [29]:
df = pd.DataFrame({
    'ID': ID,
    'name': name,
    'age': age
})

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      object
dtypes: object(3)
memory usage: 324.0+ bytes

In [39]:
df['age'] = df['age'].astype('int64')

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      8 non-null      object
 1   name    8 non-null      object
 2   age     8 non-null      int64
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes

In [41]:
# Question 1: What is the average age of employees found at the link above?
    # The average age of employees is 29.875.

df['age'].mean()

np.float64(29.875)

In [42]:
# Question 3: What is the standard deviation of employees found at the link above (according to pandas)?
    # Round final answer to two decimal places.

    # The standard deviation of age of the employees is 3.56.

round(df['age'].std(), 2)

np.float64(3.56)